<header>
  <div class="logo">🏦 BankApp</div>
  <nav>
    <a routerLink="bankerList" routerLinkActive="active">Admin</a>
    <!-- <a routerLink="customerList" routerLinkActive="active">Customer</a>
    <a routerLink="loanApplicationList" routerLinkActive="active">Application</a>
    <a routerLink="newLoanForm" routerLinkActive="active">New Loan</a> -->
  </nav>

     <div class="actions">
    <button class="btn btn-primary" routerLink="login" >Login</button>
  </div>


</header>



<router-outlet></router-outlet>