<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>
  <div class="shape"></div>

  <div class="login-container">
    <div class="left-panel">
      <h1 class="welcome-text">🎉 Welcome Friend!</h1>
      <p>Already have an account?</p>
      <button class="register-btn" routerLink="/login">Login</button>
    </div>

    <div class="right-panel glass-card">
      <h2>Register</h2>
      <form>
        <div class="input-group">
          <input type="text" name="userName" [(ngModel)]="customerobj.userName" placeholder="User Name" required />
        </div>
        <div class="input-group">
          <input type="email" name="emailId" [(ngModel)]="customerobj.emailId" placeholder="Email ID" required />
        </div>
        <div class="input-group">
          <input type="text" name="fullName" [(ngModel)]="customerobj.fullName" placeholder="Full Name" required />
        </div>
        <div class="input-group">
          <input type="password" name="password" [(ngModel)]="customerobj.password" placeholder="Password" required />
        </div>

        <button type="button" class="login-btn" (click)="onRegister()">Register</button>
      </form>
    </div>
  </div>
</div>
